<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include partials/head %>
    <title>Movie API</title>
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
      <div class="col-md-6">
        <% if(user) { %>
        <h2>Add a movie!</h2>
        <br>
        <form id="uploadForm" method="POST" action="/api/movies/add" enctype="multipart/form-data">
          Title: <br>
          <input type="text" name="title"> <br><br>
          Date: <br>
          <input type="date" name="date"> <br><br>
          Director: <br>
          <input type="text" name="director"> <br><br>
          Genre: <br>
          <input type="text" name="genre"> <br><br>
          <input type="file" name="userFile" > <br><br>
          <input type="submit" value="Submit">
        </form>
        <% } else { %>
          <h2>Please Login or Register to add movies.</h2>
          <p><a href="/api/movies/login">Login</a> or <a href="/api/movies/signup">Signup</p>
        <% } %>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  </body>
</html>
