<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <title>Movies</title>
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
      <ul>
        <% for(var i = 0; i < movies.length; i++) { %>
              <ul>
                <li><a href="/api/movies/<%= movies[i]._id %>"><h1><%= movies[i].title %></h1></a></li>
              </ul>
        <% } %>
      </ul>
    </div>
  </body>
</html>
